body{
    background-color: coral;
    width: 100vw;
    font-family: Roboto;
    font-weight: bold;

}
a:link , a:visited , a:hover, a:active { 
    text-decoration:none;
    color:white;
    transition: 1.04s;
}
.nav-container{
    height:50px;
    width:100vw;
    font-size:18px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0 5%;
    background:#4E4E4E;
}
.nav-company-name {
    font-size:20px;
    color:white;
    font-weight:bold;
}
.container{
    width:100vw;
    margin:0 auto;
}
.landing{
    width:100vw;
    height:100vh;
    align-items:left;
    flex-direction: column;
    height:100vh; 
    background:url(https://picsum.photos/id/307/1920/1080);     
    background-color: rgb(0, 0, 0, .3);
    background-size:cover;
    background-position:center;
    padding-top:22%;
    padding-bottom: 25%;
    box-flex:wrap; 
    margin:auto;    
}
section{
    padding: 5% 5%;
    
}
.primary-heading{
    font-size: 36px;
    color:#fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}
.secondary-heading{
    font-size:19px;
}
.langing-page-text-h1{
    display:flex;
    justify-content: space-between;
    font-weight:bold;  
    font-size:36px;
    color: #FFF;
    width:auto;
    padding-bottom:0%;
}
#about{
    
}
    
.top-logo{
    padding:2% 11%;
    font-size: 36px;
}
.person {
    display: flex;
    align-items: center;
    padding: 2% 7%;
    margin-left: 6%;
}
.person-img{ 
    flex-shrink:0;
    width:220px;
    height:220px;
    background:url('https://picsum.photos/340') no-repeat center center;
    background-position: center;
    background-size:cover;
    border-radius:50%;
}
.name-experts{
    padding: 0 3%;
}
.name-experts::before{
}
         
.lorem{
    width: 98%;
    padding: 0 0%;
    height: auto;
}
.person:nth-of-type(even){
    flex-direction: row-reverse; 
    padding-right: 5%;      
}
.person:nth-of-type(odd) .info-person{
    margin-left:8px;
    margin-top: 10%;   
}
.person:nth-of-type(odd) .info-person{
    margin-top:30px;
}
.person:nth-of-type(odd) .info-person{
    margin-right: 4px; 
}
}
.products{
    width:100vw;
    background:#405D78;
}
.prodact-container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top:5%;
    padding: 0 5%;
}
.product {
    flex:wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 31%;
    height: 220px;
    padding:5%;
    margin-bottom:5%;
    border:1px solid black;
    background: rgba(241, 241, 241, 0.959);  
    box-sizing: border-box;
}


@media screen and (320px){

    width:52%;
    height:39px;
    {
}