@media screen and (max-width:968px){
	.nav {
		display: flex;
		margin-right: 90px;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		margin: 0 auto;
		color: #fff;
		background: #4E4E4E;
	}
	a:link , a:visited , a:hover, a:active { 
		padding-left:0%;
    color:white;
    transition: 1.09s;
    scroll-behavior: smooth;
	}
	h1 { line-height: 1.3em; }
	.container {
		width: 100%;
	}
	.nav-container{
		width: auto;
	}
	.landing-page-shedow {
		padding: 0px 19%;
		width: 100%;
		height: 100%;
	}
	.landing-page-text {
		display: flex;
		padding-left:9%;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		font-style: weight;
		width:100%;
		height:26%;
	}	
	button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding: 6% 34%;
		text-align: center;
		transition: 1.04s;
	}
	button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding: 6% 34%;
		border: 3px sol id #FFFF;
		font-size:18px;
		text-align:center;
		transform: 0,01s;
	}
	.top-logo {
		text-align:center;
	}
	.person {
		flex-direction: column;		
		padding: 5% 5%;
	}
	.person:nth-of-type(odd) .info-person {
		text-align: justify;
		margin-top:10%;
	}
	.person:nth-of-type(even) .info-person {
		text-align: justify;
		text-align: left;
		margin-top:10%;
	}
	.circle{
    position:absolute;
    width:20px;
    background-color:#E07A64;; 
    height:20px;
    left:-8px;
    top:-11px;
    border-radius:50%;
    z-index:3;
	}
	#offer {
	box-shadow: 3px 2px 2px 2px grey;
	transform: scale(1.00);
	flex-direction: column;
	}
	.company-what {
		padding: 16% 0%;
		padding-left: 10%;
	}
	.container {
		width: auto;
	}

	.box-container {
			/* display: flex; */
			/* position: relative; */
			/* width: 100%; */
			/* height: auto; */
		  /*	border: 1px solid red; */
	}
	.line{
		padding: 5% 5%;
		width: 84%;
		height: 10px;
		flex-direction: column;		
	}
	.footer{
		padding: 1% 3%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 0 10%;
		align-items: center;
		height: 50%;
		width: auto;
		background: #4E4E4E;
		color: #fff;
	}
}

@media (max-width:799px){
	.nav {
		display: flex;
	 	padding:-3px 4%;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		margin: 0 auto;
		color: #fff;
		background: #4E4E4E;
	}
	h1 { line-height: 1.3em; }
	.container{
		width:100%;
	}
	.landing-page-shedow {
		padding: 0px 8%;
		width: 100%;
		height: 100%;
	}
	.landing-page-text {
		display: flex;		
    padding-left: 9%;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		font-style: weight;
		width:100%;
		height:26%;
	}	
	button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding: 6% 34%;
		text-align: center;
		transition: 1.04s;
	}
	button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding: 6% 34%;
		border: 3px sol id #FFFF;
		font-size:18px;
		text-align:center;
		transform: 0,01s;
	}
	.top-logo {
		text-align:center;
	}
	.person-img{
		margin-bottom: 40%;
	}
	.person {
	  padding-top: 10%;
		width: 84%;
		height: 27%;
		padding: 10% 7%;
		margin-top: 53px;
	}
	.person:nth-of-type(odd) .info-person {
		text-align: justify;
		margin-right:0%;
		margin-top:0%;
	}
	.person:nth-of-type(even) .info-person {
		text-align: justify;
		margin-top:1%;
	}
	.person:nth-of-type(odd) .person-img{
		margin-right:0px;
	}

	.box-container{
	}
	.box-container {
			/* display: flex; */
			/* position: relative; */
			/* width: 100%; */
			/* height: auto; */
			/*border: 1px solid red;*/
	}
	.circle{
    position:absolute;
    width:20px;
    background-color:#E07A64;; 
    height:20px;
    left:-8px;
    top:-11px; 
    border-radius:50%;
    z-index:3;
	}
	
	#offer {
	box-shadow: 3px 2px 2px 2px grey;
	transform: scale(1.00);
	flex-direction: column;
    grid-template-columns: 45% auto 45%;
    grid-template-rows: 45% auto 45%;
	grid-gap:2%;
	}
	.company-what {
		padding: 16% 0%;
		padding-left: 10%;
	}
	.container {
		width: auto;
	}
	.line{
		width: 84%;
		height: 10px;
		box-sizing: border-box;
		flex-direction: column;
	}
	.footer{
		padding: 1% 3%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 0 10%;
		align-items: center;
		height: 50%;
		width: auto;
		background: #4E4E4E;
		color: #fff;
	}
}

@media (max-width:390px;) {
	.nav {
		display: flex;
		padding:-3px ;
		margin-right: 90px;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		margin: 0 auto;
		color: #fff;
		background: #4E4E4E;
	}
	h1 { line-height: 1.3em; }
	.landing-page-shedow {
		padding: 0px 8%;
		width: 100%;
		height: 100%;
	}
	.landing-page-text {
		display: flex;		
    padding-left: 9%;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		font-style: weight;
		width:100%;
		height:26%;
	}	
	button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding: 6% 34%;
		text-align: center;
		transition: 1.04s;
	}
	button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding: 6% 34%;
		border: 3px sol id #FFFF;
		font-size:18px;
		text-align:center;
		transform: 0,01s;
	}
	.top-logo {
		padding-left:10%;
		margin-bottom:20px;	
	}
	.person-img{
		margin-bottom: 40%;	
	}
	.person {
	  padding-top: 10%;
		width: 84%;
		height: 27%;
		padding: 10% 7%;
		margin-top: 53px;
	}
	.person:nth-of-type(odd) .info-person {
		text-align: justify;
		margin-right:0%;
		margin-top:0%;
	}
	.person:nth-of-type(even) .info-person {
		text-align: justify;
		margin-top:1%;
	}
	.person:nth-of-type(odd) .person-img{
		margin-right:0px;
	}
	.box-container {
			/* display: flex; */
			/* position: relative; */
			/* width: 100%; */
			/* height: auto; */
		 /*	border: 1px solid red; */
	}
	.circle{
    position:absolute;
    width:20px;
    background-color:#E07A64;; 
    height:20px;
    left:-8px;
    top:-11px; 
    border-radius:50%;
    z-index:3;
	}
	#offer {
   box-shadow: 3px 2px 2px 2px grey;
   transform: scale(1.00);
   flex-direction: column;
	}
	.company-what {
		padding: 16% 0%;
		padding-left: 10%;
	}
	.container {
		width: auto;
	}
	.line{
		width: 80%;
		height: 10px;
		box-sizing: border-box;
		flex-direction: column;
	}
	.rig{
    text-decoration:none;
    color:none;
}