body{
  margin:0;
  padding:0;
  font-family:sans-serif;
}
@media (max-width:700px) {
nav, nav-contener{
  display: none;
}
}
.troggle{
  width:100%;
  background :red;
  max-width: calc(100% - 188px);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  float: right;
}
.menu-toggler{
  top: 34px;
  right: 20px;
}
ul{
  width:98%;
  margin:0 auto;
  padding:0;
}
ul li{
  list-style:none;
  }
ul li a{
  font-size: 16px;
  text-decoration: none;
}
.navT{
background: #4E4E4E;;
text-align: right;
box-sizing:border-box;
color:#fff;
font-size:16px;
display: none;
}
@media(max-width:699px)
{
  .navT {
    display: block;
    width:40%;
    height:70%;
    border: 2px solid red;
  }
}