@media (max-width:2510px){
	.landing-page{
		width:100vw;
		height: 100vh;
	}
	.landing-page-text{
		width: 63%;
		height: 30%;
		}
	}
	a:link , a:visited , a:hover, a:active { 
		text-decoration: none;
		color: white;
		transition: 1.04s;
		font-size: 18px;
		scroll-behavior: smooth;
		}
	button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding:6% 35%;
		justify-content: center;
		text-align: center;
		transition: 0.3s;
	}
	button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding:6% 35%;
		border: 3px solid #FFFF;
		font-size:18px;
		justify-content: center;
		text-align: center;
		transform: 0,02s;
	}
@media (max-width:1010px){
	a:link , a:visited , a:hover, a:active { 
		color:white;
		transition: 1.09s;
		scroll-behavior: smooth;
		margin:40px;
	}
	.nav {
		display:flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
	
		margin: 0 auto;
		color: #fff;
		background: #4E4E4E; 
	}
	.landing-page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-style: weight;
    width: 61%;
		height: 27%;
	}

}
@media (max-width:1120px){
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
	
		margin: 0 auto;
		color: #fff;
		background: #4E4E4E;
	}
	a:link , a:visited , a:hover, a:active { 
		padding-left:0%;
		color:black;
		transition: 1.09s;
		scroll-behavior: smooth;
		margin:13px;
	}
	h1 { line-height: 1.3em; }
	
	.nav-container{
		width:88%;
	}
	.landing-page-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		font-style: weight;
		width: 61%;
		height: 28%;
	}	
	.top-logo {
		text-align:center;
	}
	.person {
		flex-direction: column;		
		width:93%;
		margin:9% 4%;
	}
	.person:nth-of-type(odd) .info-person {
		text-align: justify;
		margin-top:10%;
		flex-direction: column;	
	}
	.info-person,.person:nth-of-type(even){
	text-align: justify;
	text-align: left;
	flex-direction: column;	
	width:91%;
	margin:9% 6%;
	}	
.circle{
	position:absolute;
	width:20px;
	background-color:#E07A64;; 
	height:20px;
	left:-8px;
	top:-11px;
	border-radius:50%;
	z-index:3;
}
.box-container{
	display: flex;
	flex-direction:row;
	text-align: center;
	grid:flex;   
}
.box_second-line{
	width: 50%;
}
.line {
	width: 25%;
	height: 282px;
	font-size: 23px;
	padding: 2% 11%;
	justify-content: center;
}
.hover:line{
	border-style: solid;
	-moz-transfor:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
} 
@media  (max-width:968px){
	a:link , a:visited , a:hover, a:active { 
	color:white;
	transition: 1.09s;
	scroll-behavior: smooth;
	margin-left:39px;
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		width:100vw;
		margin: 0 auto;
		color: #fff;
		background: #4E4E4E;
	}
	.container {width: 94%;	}
	h1 { line-height: 1.3em; }
	h2 { margin: 10% 12%; font-size: 44px; font-weight: 800; color: #F1F1F1;}
	.container { width: 98%; }
	.landing-page-text {
		display: flex;
		padding-left:9%;     
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		font-style: weight; 
		width:53%;
    height:37%;
	}
	button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding: 8% 36%;
		justify-content: center;
		text-align: center;
		transition: 1.04s;
	}
	button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding: 8% 36%;
		border: 3px solid #FFFF;
		font-size:18px;
		justify-content: center;
		text-align: center;
		transform: 0,01s;
	}
.top-logo { text-align:center; }
	.person { flex-direction: column; width:91%; }
	.person:nth-of-type(odd) .info-person { text-align: justify; margin-top:10%; flex-direction: column; }
	.person:nth-of-type(even) .info-person { text-align: justify; text-align: left; margin-top:10%; }	
	.circle{
	position:absolute;
	width:20px;
	background-color:#E07A64;; 
	height:20px;
	left:-8px;
	top:-11px;
	border-radius:50%;
	z-index:3;
}
.box-container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-direction:row;
	text-align: center;
	grid:flex;   
}
.line {
	width: 25%;
	height: 282px;
	font-size: 22px;
	padding: 2% 11%;
	justify-content: center;
} 
.hover:line{
	border-style: solid;
	-moz-transfor:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
} 
	#offer {
	transform: scale(1.00);
	flex-direction: column;
	margin-right: 7px;
	width: 100vw;
	height: 100%;
}
	h2 { margin:9% 20%; font-size: 24px; line-height:37px; }
	.container { width:98% }
	.lin{ margin-bottom: 17%; }
	.line {
		padding: 5% 5%;
		width: 27%;
		height: 91px;
		flex-direction: column;
	} 
	.footer{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 0 10%;
		align-items: center;
		height: 50%;
		width:84%;
		background: #4E4E4E;
		color: #fff;
	}
}

@media (max-width:1095px){
	a:link , a:visited , a:hover, a:active { 
		color:white;
		transition: 1.09s;
		scroll-behavior: smooth;
		margin-left:39px;
		}
		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			width:100vw;
			margin: 0 auto;
			color: #fff;
			background: #4E4E4E;
		}
	
	.landing-page-text{
		width:61%;
		height:30%;
		padding:5%;
	}
	.line {
		padding: 5% 5%;
		width: 27%;
		height: 91px;
		flex-direction: column;
	}
	.circle{
	position:absolute;
	width:20px;
	background-color:#E07A64;; 
	height:20px;
	left:-8px;
	top:-11px;
	border-radius:50%;
	z-index:3;
}
button{
	background-color: transparent;
	border: 3px solid #FFF;
	font-size: 18px;
	color: white;
	font: bold;
	padding:3% 35%;
	text-align: center;
	justify-content: center;
	transition: .04s;
	}
button:hover{
	background-color:white; 
	color:black;
	font: bold;
	padding:3% 35%;
	border: 3px sol id #FFFF;
	font-size:18px;
	text-align:center;
	justify-content: center;
	transform: 0,01s;
	}
.lin{
	margin-left: 1%;
	width: 100vh;
	margin: 8% 0%;		
}
.line {
	width: 208px;
	height: 212px;
	font-size: 23px;
	margin:2%;
	padding: 2% 11%;
	justify-content: center;
	flex-direction: column;
}
.hover:line{
	border-style: solid;
	-moz-transfor:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
} 
@media (max-width:700){
	.landing-page-text{
		width:81%;
}
@media (max-width:600){
	.landing-page-text{
		width:81%;
	}
}
@media (max-width:899px){
.landing-page-text{
		width: 77%;
		height:33%;
		padding-left:7%;
    }
.container .nav-container{
		display:none;
		}
button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding:3% 35%;
		text-align: center;
		justify-content: center;
		transition: .04s;
		}
button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding:3% 35%;
		border: 3px sol id #FFFF;
		font-size:18px;
		text-align:center;
		justify-content: center;
		transform: 0,01s;
		}
.circle{
		position:absolute;
		width:20px;
		background-color:#E07A64;; 
		height:20px;
		left:-8px;
		top:-11px;
		border-radius:50%;
		z-index:3;
		}
	.lin{
		margin-left: 1%;
		width:80%;
		margin: 8% 0%;		
	}
	.line{
			width:198px;
			height:229px;
			font-size: 25px;
			padding: 2% 11%;
			justify-content: center;
	}
	.hover:line{
			border-style: solid;
			-moz-transfor:scale(1.05);
			-webkit-transform:scale(1.05);
			-o-transform:scale(1.05);
			-ms-transform:scale(1.05);
			-webkit-transform:scale(1.05);
			transform:scale(1.05);
		} 

}
@media screen (max-width:799px){
	a:link, a:visited, a:hover, a:active {
    color: white;
    transition: 1.09s;
    scroll-behavior: smooth;
		margin-left: 4px;
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:50px;
		width: 100vw;
		padding: 0 4px;
		color: #fff;
		background: #4E4E4E;
	}
	h1 { line-height: 1.4em; }
	.container { width:100vw; }
	h2{ margin: 11% 6%; font-size: 29px; font-weight: 800; text-align: center; } 
  .landing-page-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;   
		font-style: weight;
		width:77%;
    height:29%;
	}
	button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding:1% 34%;
		text-align: center;
		justify-content: center;
		transition: .04s;
	}
	button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding:1% 34%;
		border: 3px sol id #FFFF;
		font-size:18px;
		text-align:center;
		justify-content: center;
		transform: 0,01s;
	}
	.top-logo {text-align:center; }
	.person-img{ margin-bottom: 24%;}
	.person {
		width: 97%;
		height: 27%;
		padding:10% 4%;
		margin-top: 53px;
	}
	#offer {
		transform: scale(1.00);
		width: 100vw;
		height: 100%;
		}
.person:nth-of-type(odd) .info-person {text-align:left; flex-direction: column;}
	.person:nth-of-type(even) .info-person { text-align:left; margin-top:8%; flex-direction: coluomn; }
	.person:nth-of-type(odd) .person-img{ margin-right:0px; flex-direction: row;}
	.circle{
    position:absolute;
    width:20px;
    background-color:#E07A64;; 
    height:20px;
    left:-8px;
    top:-11px; 
    border-radius:50%;
    z-index:3;
	}	
	.container { width: 98%; }
	.lin{
		margin-left: 1%;
		width: 100vh;
		margin: 8% 0%;		
	}
	.line{
		box-sizing: border-box;
		flex-direction: column;
		width:300px;
		height:320px;
	}
	.circle{
		position:absolute;
		width:20px;
		background-color:#E07A64;; 
		height:20px;
		left:-8px;
		top:-11px;
		border-radius:50%;
		z-index:3;
	}
	.box-container{
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-direction:row;
		text-align: center;
		grid:flex;   
	}
	.hover:line{
		border-style: solid;
		-moz-transfor:scale(1.05);
		-webkit-transform:scale(1.05);
		-o-transform:scale(1.05);
		-ms-transform:scale(1.05);
		-webkit-transform:scale(1.05);
		transform:scale(1.05);
	}
	.footer{
		display: flex;
		font-size:14px;
		padding-top:2%;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 0 10%;
		align-items: center;
		height: 50%;
		width:  88%;
		background: #4E4E4E;
    color: #fff;
}
@media (mac-width:699px){	
	.nav {
		justify-content: space-between;
		align-items:center;
		height:50px;
		width:100vw;
		margin: 0 auto;
		color: #fff;
		background: #4E4E4E;
	}
	a:link , a:visited , a:hover, a:active { 
		padding-left:0%;
    color:white;
    transition: 1.09s;
		scroll-behavior: smooth;
		margin: 53px;
	}
	h1 { line-height: 1.3em; }
	.container {
		width:100%;
	}
	.nav-container{
		width: auto;
	}
	.lin{
		margin-left: 1%;
		width: 100vh;
		margin: 8% 0%;		
	}
	.line{
		box-sizing: border-box;
		flex-direction: column;
		width:180px;
    height:190px;
	}
	.footer{
		display: flex;
		font-size:14px;
		padding-top:2%;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 0 10%;
		align-items: center;
		height: 50%;
		width:  88%;
		background: #4E4E4E;
    color: #fff;
}
}

@media (max-width:390px){
	h1 {font-size: 25px;}
	.landing-page-text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			font-style: weight;
			width:100vw;
			height:42%;
			padding-top:10%;
	}
	button{
		background-color: transparent;
		border: 3px solid #FFF;
		font-size: 18px;
		color: white;
		font: bold;
		padding:2% 32%;
		transition: 1.04s;
		justify-content: center;
		text-align: center;
	}
	button:hover{
		background-color:white; 
		color:black;
		font: bold;
		padding:2% 32%;
		border: 3px sol id #FFFF;
		font-size:18px;
		transition: 1.04s;
		justify-content: center;
		text-align: center;
	}
	.top-logo { font-size: 23px; margin-bottom:20px; }
	.person-img{margin-bottom: 40%; }
	.person { padding-top: 10%; width:86%; height: 27%;  margin-top: 10px; padding: 10% 0%; }
	.person:nth-of-type(odd) .info-person { text-align: justify; margin-right:0%; margin-top:0%; }
	.person:nth-of-type(even) .info-person { text-align: justify; margin-top:1%; padding: 10% 0%; }
		.circle{
    position:absolute;
    width:20px;
    background-color:#E07A64;; 
    height:20px;
    left:-8px;
    top:-11px; 
    border-radius:50%;
    z-index:3;
	}
	#offer {
		transform: scale(1.00);
		flex-direction: column;
		width:100vw;
		height: 100%;
		margin-right: 7px;
	}
	h2{
    margin: 12% 12%;
    font-size:23px;
		font-weight: 800;
		color: #F1F1F1;
} 
	.container { width: 100vw; }
	.lin{
		margin-left: 1%;
		width: 100vh;
		margin: 8% 0%;		
	}
	.line{
		box-sizing: border-box;
		flex-direction: column;
		width:100px;
		height:109px;
		font-size:19px;
	}
	.hover:line{
		border-style: solid;
		-moz-transfor:scale(1.15);
		-webkit-transform:scale(1.05);
		-o-transform:scale(1.15);
		-ms-transform:scale(1.15);
		-webkit-transform:scale(1.15);
		transform:scale(1.15);
	} 
	.footer{
		margin-top: -1%;
	}
	.rig{ text-decoration:none; color:none;margin-top: 2%; }

@media (max-width:288px){
	body{
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			scroll-behavior: smooth;
			margin:0 auto;
			cursor:url(images/my-cursor.png);
	}
		.row{ clear:both; }
		h1 {font-size:18px; line-height: 34;}
		.landing-page {
				width:81%;
				height:48%;
				padding-top:10%;
		}
		button{
			background-color: transparent;
			border: 3px solid #FFF;
			font-size: 12px;
			color: white;
			font: bold;
			padding:1% 30%;
			transition: 1.04s;
			justify-content: center;
			text-align: center;
		}
		button:hover{
			background-color:white; 
			color:black;
			font: bold;
			padding:1% 30%;
			border: 3px sol id #FFFF;
			font-size:12px;
			transition: 1.04s;
			justify-content: center;
			text-align: center;
		}
		.top-logo { padding-left:2%; font-size:18px;	margin-bottom:20px; }
		.person-img{margin-bottom: 30%; }
		.person { padding-top: 10%; width:92%; height: 27%;  margin-top: 10px; padding: 10% 0%; }
		.person:nth-of-type(odd) .info-person { text-align: justify; margin-right:0%; margin-top:0%; }
		.person:nth-of-type(even) .info-person { text-align: justify; margin-top:1%; padding: 10% 0%; }
			.circle{
			position:absolute;
			width:20px;
			background-color:#E07A64;; 
			height:20px;
			left:-8px;
			top:-11px; 
			border-radius:50%;
			z-index:3;
		}
		#offer {
			transform: scale(1.00);
			flex-direction: column;
			width:100vw;
			height: 100%;
			margin-right: 7px;
		}
		h2{
			margin: 16% 9%;
			font-size: 28px;;
			font-weight: 800;
			color: #F1F1F1;
	} 
		.container { width: 100vw; }
		.circle{
			position:absolute;
			width:20px;
			background-color:#E07A64;; 
			height:20px;
			left:-8px;
			top:-11px;
			border-radius:50%;
			z-index:3;
		} 
		.lin{
			margin-left: 1%;
			width: 100vh;
			margin: 8% 0%;		
		}
		.line{
			box-sizing: border-box;
			flex-direction: column;
			width:55px;
			height:55px;
			font-size:16px;
		}
		.hover:line{
			border-style: solid;
			-moz-transfor:scale(1.05);
			-webkit-transform:scale(1.05);
			-o-transform:scale(1.05);
			-ms-transform:scale(1.05);
			-webkit-transform:scale(1.05);
			transform:scale(1.05);
		} 
	footer{	margin-bottom: 5%; }
		.rig{ text-decoration:none; color:none; }