@media (max-width:2700px) { 
  .toggle{ display:none; 
          }
}
@media(max-width:699px){ 
  .nav, .nav-container, .links{
    display: none;
  }
  .none{
    display:block;
    font-size: 12px;
  }
  .toggle {
    display: block;
    text-align: right;
    width: 15%;
    height: 48%;
    font-size: 25px;
    padding-right: 10%;
    justify-content: space-between;
}
  .fas{
  display:block;
  }
}